In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('creditcard.csv')

In [5]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
#distribution of Legit and fraud transactions
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

About the data

This data is highly unbalanced


0 ---> normal Transactions

1 ---> Fraud transaction

In [11]:
legit=df[df.Class==0]
fraud=df[df.Class==1]

In [13]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 541 to 281674
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    492 non-null    float64
 1   V1      492 non-null    float64
 2   V2      492 non-null    float64
 3   V3      492 non-null    float64
 4   V4      492 non-null    float64
 5   V5      492 non-null    float64
 6   V6      492 non-null    float64
 7   V7      492 non-null    float64
 8   V8      492 non-null    float64
 9   V9      492 non-null    float64
 10  V10     492 non-null    float64
 11  V11     492 non-null    float64
 12  V12     492 non-null    float64
 13  V13     492 non-null    float64
 14  V14     492 non-null    float64
 15  V15     492 non-null    float64
 16  V16     492 non-null    float64
 17  V17     492 non-null    float64
 18  V18     492 non-null    float64
 19  V19     492 non-null    float64
 20  V20     492 non-null    float64
 21  V21     492 non-null    float64
 22  V22     492 non-null    float64
 23  V23     492 non-null    float64
 24  V24     492 non-null    float64
 25  V25     492 non-null    float64
 26  V26     492 non-null    float64
 27  V27     492 non-null    float64
 28  V28     492 non-null    float64
 29  Amount  492 non-null    float64
 30  Class   492 non-null    int64
dtypes: float64(30), int64(1)
memory usage: 123.0 KB

In [14]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [16]:
#compare the values of both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Due to Unbalanced data we have to sample some data from legit dataset so the ML Model can make unbiased predictions


Total number of fraud data --> 492

In [17]:
legit_sample=legit.sample(n=492)

In [18]:
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
256675,157804.0,1.930237,-0.196152,-0.598748,1.249763,0.139449,0.717801,-0.412395,0.255396,0.918409,...,-0.503026,-1.202161,0.412955,0.137593,-0.279280,-1.125541,0.049853,-0.038717,4.94,0
66041,51854.0,-1.085390,-3.706956,0.269262,2.224684,-2.287331,0.375071,0.614547,-0.010599,0.655806,...,0.970774,0.273055,-0.977119,0.446685,-0.205768,-0.345848,-0.128125,0.237492,1135.25,0
144343,86047.0,-0.542552,1.151385,1.233373,-0.208322,0.428567,-0.443789,0.861714,-0.168423,-0.423843,...,-0.306003,-0.564241,-0.096470,-0.026887,-0.089399,0.048441,0.193652,-0.071406,15.27,0
57149,47782.0,0.137465,0.874008,0.815221,0.807901,0.443789,0.022276,0.270582,0.051738,-0.877108,...,-0.177375,-0.490248,-0.012061,-0.549698,-0.585948,0.291623,0.067542,0.047256,1.29,0
16186,27605.0,-1.253612,1.765533,0.350978,-0.109874,-0.414142,-0.596041,-0.131482,0.959358,-0.784326,...,-0.179889,-0.677784,0.046271,-0.057760,-0.045877,0.084440,0.097220,0.019500,1.98,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53382,45947.0,1.126224,0.164726,0.525665,1.479348,-0.346232,-0.372281,0.060854,-0.017268,0.322987,...,-0.079793,-0.030560,-0.024319,0.411392,0.604477,-0.332625,0.036413,0.019942,16.34,0
146392,87663.0,-1.565053,1.888004,-1.607785,-1.006347,0.153053,-0.205016,-0.166276,1.248202,-0.361334,...,-0.216368,-0.735515,0.081596,-1.382765,-0.145695,0.207921,-0.040220,-0.005187,9.99,0
33873,37418.0,1.190257,0.066865,-0.491281,0.125756,0.587233,0.226957,0.282060,0.022614,-0.384292,...,-0.352735,-1.150179,-0.021406,-1.145278,0.323885,0.217563,-0.061249,-0.007692,52.90,0
265083,161731.0,-0.927599,-0.305721,3.061217,-0.651081,-0.560427,2.002576,-0.838118,0.738113,-0.088486,...,-0.196662,0.243453,-0.418210,0.218622,0.707516,-0.456851,0.158363,0.078828,30.00,0
177343,123139.0,-2.153275,0.878865,0.279933,-1.536130,1.809005,0.124149,0.834472,-2.076256,-0.094114,...,1.546282,0.211821,-0.184453,-1.350304,1.425301,-0.027403,-0.363028,-0.356487,1.00,0

In [19]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [20]:
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
256675,157804.0,1.930237,-0.196152,-0.598748,1.249763,0.139449,0.717801,-0.412395,0.255396,0.918409,...,-0.503026,-1.202161,0.412955,0.137593,-0.279280,-1.125541,0.049853,-0.038717,4.94,0
66041,51854.0,-1.085390,-3.706956,0.269262,2.224684,-2.287331,0.375071,0.614547,-0.010599,0.655806,...,0.970774,0.273055,-0.977119,0.446685,-0.205768,-0.345848,-0.128125,0.237492,1135.25,0
144343,86047.0,-0.542552,1.151385,1.233373,-0.208322,0.428567,-0.443789,0.861714,-0.168423,-0.423843,...,-0.306003,-0.564241,-0.096470,-0.026887,-0.089399,0.048441,0.193652,-0.071406,15.27,0
57149,47782.0,0.137465,0.874008,0.815221,0.807901,0.443789,0.022276,0.270582,0.051738,-0.877108,...,-0.177375,-0.490248,-0.012061,-0.549698,-0.585948,0.291623,0.067542,0.047256,1.29,0
16186,27605.0,-1.253612,1.765533,0.350978,-0.109874,-0.414142,-0.596041,-0.131482,0.959358,-0.784326,...,-0.179889,-0.677784,0.046271,-0.057760,-0.045877,0.084440,0.097220,0.019500,1.98,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

Now the Data is uniform

In [23]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96717.113821,-0.082124,0.095176,0.051891,-0.014023,0.036152,0.007980,0.056734,-0.035433,0.026902,...,0.013799,0.030112,0.028659,-0.007212,0.008616,0.009436,-0.021980,-0.006088,0.005991,87.596240
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [30]:
X=new_dataset.drop(['Class'], axis='columns')
y=new_dataset['Class']

In [31]:
y

256675    0
66041     0
144343    0
57149     0
16186     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into train and split

In [33]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, stratify=y, random_state=2)

Model Training Using Logistic Regression

In [34]:
model=LogisticRegression()

In [35]:
model.fit(X_train,y_train)

LogisticRegression()

Model Evalution

In [38]:
#accuracy on training data
x_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [39]:
print("Model Accuracy Score : ",training_data_accuracy)

Model Accuracy Score :  0.9415501905972046

In [40]:
#Accuracy of Test Data

x_test_prediction=model.predict(X_test)

In [41]:
test_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [42]:
print("Model Accuracy Score: ",test_data_accuracy)

Model Accuracy Score:  0.9238578680203046